# Exploratory Data Analysis

#### Import Libraries

In [2]:
# For simplicity, I start by importing libraries I will be using at the beginning, data viz libraries will be imported later

import pandas as pd
import numpy as np

#### We will load the data set

In [3]:
# This code is storing our file path in the Data variable. If we want to create more variables and start with a fresh data set
# we can do so by created a new variable and using the same code
# We will be manipulatng 'data' so everytime we call that variable, it will store all of our changes

filepath = 'Air_Traffic_Passenger_Statistics_20240724.csv'
data = pd.read_csv(filepath)

#### View the head to see what our data looks like

In [5]:
data.head()

,Activity Period,Activity Period Start Date,Operating Airline,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Activity Type Code,Price Category Code,Terminal,Boarding Area,Passenger Count,data_as_of,data_loaded_at
0,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Deplaned,Low Fare,Terminal 1,B,31432,2024/06/20 01:00:26 PM,2024/07/22 03:01:47 PM
1,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Enplaned,Low Fare,Terminal 1,B,31353,2024/06/20 01:00:26 PM,2024/07/22 03:01:47 PM
2,199907,1999/07/01,ATA Airlines,TZ,ATA Airlines,TZ,Domestic,US,Thru / Transit,Low Fare,Terminal 1,B,2518,2024/06/20 01:00:26 PM,2024/07/22 03:01:47 PM
3,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Deplaned,Other,Terminal 2,D,1324,2024/06/20 01:00:26 PM,2024/07/22 03:01:47 PM
4,199907,1999/07/01,Aeroflot Russian International Airlines,NaN,Aeroflot Russian International Airlines,NaN,International,Europe,Enplaned,Other,Terminal 2,D,1198,2024/06/20 01:00:26 PM,2024/07/22 03:01:47 PM

#### Right away we can see some null values in our dataset.
#### These will be fixed by manipulating the dataset via python.
#### This can be cleaned via excel to begin with, but for our purposes, I will do it all on python.

## Data Cleaning

#### We will start with viewing null values, the statistics, and the object type.

In [9]:
data.isnull().sum()

Activity Period                  0
Activity Period Start Date       0
Operating Airline                0
Operating Airline IATA Code    316
Published Airline                0
Published Airline IATA Code    316
GEO Summary                      0
GEO Region                       0
Activity Type Code               0
Price Category Code              0
Terminal                         0
Boarding Area                    0
Passenger Count                  0
data_as_of                       0
data_loaded_at                   0
dtype: int64

In [10]:
data.describe()

       Activity Period  Passenger Count
count     36165.000000     36165.000000
mean     201206.636416     27894.875128
std         724.614553     62489.937525
min      199907.000000         0.000000
25%      200605.000000      4401.000000
50%      201210.000000      8620.000000
75%      201809.000000     19841.000000
max      202405.000000    856501.000000

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36165 entries, 0 to 36164
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Activity Period              36165 non-null  int64
 1   Activity Period Start Date   36165 non-null  object
 2   Operating Airline            36165 non-null  object
 3   Operating Airline IATA Code  35849 non-null  object
 4   Published Airline            36165 non-null  object
 5   Published Airline IATA Code  35849 non-null  object
 6   GEO Summary                  36165 non-null  object
 7   GEO Region                   36165 non-null  object
 8   Activity Type Code           36165 non-null  object
 9   Price Category Code          36165 non-null  object
 10  Terminal                     36165 non-null  object
 11  Boarding Area                36165 non-null  object
 12  Passenger Count              36165 non-null  int64
 13  data_as_of                   36165 non-null  object
 14  data_loaded_at               36165 non-null  object
dtypes: int64(2), object(13)
memory usage: 4.1+ MB

#### Majority of our data are 'objects.' Intuitively, we can estimate that converting object to int for some columns will be usless.

#### I would like to view null values by Operating Airline, this would help us fill the missing values quicker.

In [23]:
# Filter rows where Operating value is null 

null_values_operating = data[data['Operating Airline IATA Code'].isnull()]
null_count_by_operating = null_values['Operating Airline'].unique()
print(null_count_by_operating)

['Aeroflot Russian International Airlines' 'China Eastern Airlines, Inc'
 'Sobelair Airlines' 'Sports Jet' 'North American Airlines' 'Sports Hawk'
 'Allegro Airlines' 'DB Air' 'Boeing Company' 'Servisair'
 'Pacific Aviation' 'Swissport USA' 'Trego Dugan Aviation'
 'Air Italy S.P.A' 'El Al Israel Airlines LTD.'
 'Norwegian Air Shuttle ASA' 'Samsic Airport America, LLC']

In [24]:
# Do the same for 'Published Airline'

null_values_published = data[data['Published Airline IATA Code'].isnull()]
null_count_by_published = null_values['Published Airline'].unique()
print(null_count_by_published)

['Aeroflot Russian International Airlines' 'China Eastern Airlines, Inc'
 'Sobelair Airlines' 'Sports Jet' 'North American Airlines' 'Sports Hawk'
 'Allegro Airlines' 'DB Air' 'Boeing Company' 'Servisair'
 'Pacific Aviation' 'Swissport USA' 'Trego Dugan Aviation'
 'Air Italy S.P.A' 'El Al Israel Airlines LTD.'
 'Norwegian Air Shuttle ASA' 'Samsic Airport America, LLC']

#### Before we add values to these null rows, I also want to see if published IATA airline code and Operating Airline IATA code are the same, if so, we will drop one of them as it is not needed.

In [22]:
same_values = data['Published Airline IATA Code'].equals(data['Operating Airline IATA Code'])

if same_values:
    print('Values are the same')
else:
    print('Unique columns')

Unique columns

#### We know that Published Airline Code and Operating Airline Code are differentiated as indicated on the source. However, both values were missing the same amount so it is good to verify. Let's fill up the IATA code for airlines with null values.